.imageselection ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.imageselection ul li {
  margin: 0 10px 10px 0;
  padding: 0;
}
.imageselection ul li input {
  position: absolute !important;
  visibility: hidden;
}
.imageselection ul li label {
  cursor: pointer;
  display: block;
}
.imageselection ul li label .image {
  width: 160px;
  height: 120px;
}
.imageselection ul li label .image p {
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}
.imageselection ul li label .image img {
  opacity: 0.25;
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .3s ease-in-out;
}

.imageselection ul li input:checked + label .image img {
  opacity: 1;
}
